<f:layout name="CometFrontend" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->





	<div class="container-fluid pt-4 pb-4 content-page">
		<div class="row content-page-intro">
			<div class="col-md-12 maincol">
					<f:format.raw>{content_0}</f:format.raw>
			</div>
		</div>
		<div class="row pb-3 pb-md-5 align-items-center">
			<div class="col-md-7 pb-4 pb-md-0">
					<f:format.raw>{content_1}</f:format.raw>
			</div>
			<div class="col-md-5">
					<f:format.raw>{content_2}</f:format.raw>
			</div>
		</div>
		<div class="row pt-4 pb-5 align-items-center">
			<div class="col-md-5">
					<f:format.raw>{content_3}</f:format.raw>
			</div>
			<div class="col-md-7 pt-4 pt-md-0">
					<f:format.raw>{content_4}</f:format.raw>
			</div>
		</div>
	</div>
	<div class="bg-white mg-full">
		<div class="container-fluid content-page pt-5 pb-4">	
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<f:format.raw>{content_6}</f:format.raw>
				</div>
				<div class="col-8 col-md-4 pt-4 pt-md-0">
					<f:format.raw>{content_7}</f:format.raw>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid pb-5 pt-5 content-page">	
		<div class="row pt-4 justify-content-center">
			<div class="col-md-9">
					<f:format.raw>{content_5}</f:format.raw>
			</div>
		</div>
		<div class="row pt-4 justify-content-center">
			<div class="col-md-9 text-center">
				<f:format.raw>{content_8}</f:format.raw>
			</div>
		</div>
	</div><!--/.fluid-container-->

	
	<!--TYPO3SEARCH_end-->


</f:section>