<f:layout name="CometFullBackground" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5 col-login card-login card-comet">
				<div class="card wow fadeIn animated">
					
					<div class="card-body">
					
						<f:format.raw>{content_0}</f:format.raw>
					
					</div>
					
				</div>
					

			</div>
		</div>
	</div><!--/.fluid-container-->
	
	<!--TYPO3SEARCH_end-->

</f:section>