<f:layout name="CometFrontend" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->





	<div class="container-fluid pt-4 pb-4">
		<div class="row">
			<div class="col-sm-12 maincol">
					
					<!-- Exabis Action List Tempalte -->
					
					
					<div class="exabisActionList">
						<div class="d-flex w-100 justify-content-between mb-4">
							<h1>Exabis Action</h1>
							<a href="/actions/new-action" class="btn btn-dark-green waves-effect waves-light">Create another new action</a>
						</div>
						
						<div class="exabisActionList-area">
							<h2 class="areaTitle">Assessment</h2>
							
							<div class="list-group" class="mb-1">
								
								  <div href="#" class="list-group-item list-group-item-action" aria-current="true">
								    <div class="d-flex w-100 justify-content-between">
								        <h5 class="mb-1">Action Title 1</h5>
								        <div class="exaActList-edit">
									      	<a href="">
									    		<i class="fas fa-edit"></i>
									      	</a>
									      	<a href="">
									    		<i class="fas fa-trash"></i>
									      	</a>
								        </div>
								    </div>
								    <small>Strategic Level (related to the institutional mission, vision, and high-level goals, often long term, less tangible, but very important)</small>
								  </div><!-- / list-group-item -->
							  
							  
								  <div href="#" class="list-group-item list-group-item-action">
								    <div class="d-flex w-100 justify-content-between">
								        <h5 class="mb-1">Action Title 2</h5>
								        <div class="exaActList-edit">
									      	<a href="">
									    		<i class="fas fa-edit"></i>
									      	</a>
									      	<a href="">
									    		<i class="fas fa-trash"></i>
									      	</a>
								        </div>
								    </div>
								    <small class="text-muted">Operational Level (close-distance focused, related to small groups or changes, short term, often easy to measure and quantify)</small>
								  </div><!-- / list-group-item -->
							  
							  
								  <div href="#" class="list-group-item list-group-item-action">
								    <div class="d-flex w-100 justify-content-between">
								        <h5 class="mb-1">Action Title 3</h5>
								        <div class="exaActList-edit">
									      	<a href="">
									    		<i class="fas fa-edit"></i>
									      	</a>
									      	<a href="">
									    		<i class="fas fa-trash"></i>
									      	</a>
								        </div>
								    </div>
								    <small class="text-muted">Operational Level (close-distance focused, related to small groups or changes, short term, often easy to measure and quantify)</small>
								  </div><!-- / list-group-item -->
								  
							</div><!-- / list-group -->
								  
						</div><!-- / exabisActionList-area -->
						
						
						<div class="exabisActionList-area">
							<h2 class="areaTitle">Digital Resources</h2>
							
							<div class="list-group" class="mb-1">
								
								  <div href="#" class="list-group-item list-group-item-action" aria-current="true">
								    <div class="d-flex w-100 justify-content-between">
								        <h5 class="mb-1">Action Title 1</h5>
								        <div class="exaActList-edit">
									      	<a href="">
									    		<i class="fas fa-edit"></i>
									      	</a>
									      	<a href="">
									    		<i class="fas fa-trash"></i>
									      	</a>
								        </div>
								    </div>
								    <small>Strategic Level (related to the institutional mission, vision, and high-level goals, often long term, less tangible, but very important)</small>
								  </div><!-- / list-group-item -->
							  
							  
								  <div href="#" class="list-group-item list-group-item-action">
								    <div class="d-flex w-100 justify-content-between">
								        <h5 class="mb-1">Action Title 2</h5>
								        <div class="exaActList-edit">
									      	<a href="">
									    		<i class="fas fa-edit"></i>
									      	</a>
									      	<a href="">
									    		<i class="fas fa-trash"></i>
									      	</a>
								        </div>
								    </div>
								    <small class="text-muted">Operational Level (close-distance focused, related to small groups or changes, short term, often easy to measure and quantify)</small>
								  </div><!-- / list-group-item -->
							  
							  
								  <div href="#" class="list-group-item list-group-item-action">
								    <div class="d-flex w-100 justify-content-between">
								        <h5 class="mb-1">Action Title 3</h5>
								        <div class="exaActList-edit">
									      	<a href="">
									    		<i class="fas fa-edit"></i>
									      	</a>
									      	<a href="">
									    		<i class="fas fa-trash"></i>
									      	</a>
								        </div>
								    </div>
								    <small class="text-muted">Operational Level (close-distance focused, related to small groups or changes, short term, often easy to measure and quantify)</small>
								  </div><!-- / list-group-item -->
							  
							  </div><!-- / list-group -->
							  
						</div><!-- / exabisActionList-area -->
						
						
					</div>
										
					
					<!-- / Exabis Action List Tempalte -->
					
					<f:format.raw>{content_0}</f:format.raw>
					<f:format.raw>{language_text}</f:format.raw>

			</div>
		</div>
	</div><!--/.fluid-container-->

	
	<!--TYPO3SEARCH_end-->


</f:section>