<f:layout name="CometFrontend" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->





	<div class="container-fluid pt-4 pb-4 pdca-page">
		<div class="row">
			<div class="col-sm-12 maincol">
					<f:format.raw>{content_0}</f:format.raw>


				<div class="row row-cols-1 row-cols-sm-2 g-4 komet_card_row mt-5">
					<f:format.raw>{content_1}</f:format.raw>
				</div>

			</div>
		</div>
		<div class="row apps-cnt">
			<div class="col-sm-12">
				
				<f:format.raw>{content_2}</f:format.raw>
				
				<div class="d-flex justify-content-center mb-4">
					<f:format.raw>{content_3}</f:format.raw>
				</div>
			</div>
		</div>
		
	</div><!--/.fluid-container-->

	
	<!--TYPO3SEARCH_end-->


</f:section>