{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<!-- Header -->
<f:render partial="Header" arguments="{_all}" />

<!--TYPO3SEARCH_begin-->
<main class="site-main">
    <div id="Session-Users-Ajax"> </div>
    <f:link.page pageUid="40" id="exit-session" class="d-flex justify-content-center align-items-center d-block" >
        <i class="fas fa-times" data-toggle="tooltip" data-placement="bottom" title="Exit the session"></i>
    </f:link.page>

    <div class="container-fluid pt-5 pb-5">
        <f:render section="main" />
    </div>

    <div class="modal fade" id="exitSessionPopUpModal" tabindex="-1" role="dialog" aria-labelledby="popUpModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popUpModalLongTitle">Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body popUpInfo">
                    Spiel-Session wirklich verlassen?
                </div>
                <div class="modal-footer">
                    <f:link.page id="btn-clearSessionAndExit" pageUid="40" class="btn btn-dark btn-sm" >
                        Session verlassen
                    </f:link.page>

                    <a class="btn btn-lightgrey3 btn-sm" data-dismiss="modal">Schließen</a>
                </div>
            </div>
        </div>
    </div>
    <f:asset.script identifier="modalExitSession">

        document.addEventListener("DOMContentLoaded", function () {
        let btnGoBack = document.getElementById("exit-session");
        btnGoBack.addEventListener("click", function (event) {
        event.preventDefault();
        let popUpModal = $("#exitSessionPopUpModal");
        popUpModal.modal("show");
        });

        let exitBtn = document.getElementById('btn-clearSessionAndExit')

        if (exitBtn) {
        exitBtn.addEventListener('click', (e) => {
        e.preventDefault();
        debugger
        let actionUrl = "https://ws.gtn-solutions.com/api/game/exitSession"
        let xhttp = new XMLHttpRequest();

        xhttp.open("GET", actionUrl, true)

        xhttp.onreadystatechange = function () {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
        let response = xhttp.responseText;
        let jsonResponce = JSON.parse(response);
        if (xhttp.status === 200) {
        window.location.href = document.getElementById("exit-session").getAttribute('href')
        }
        }
        };
        xhttp.send();
        })
        }
        });
    </f:asset.script>
</main>
<!--TYPO3SEARCH_end-->

<!-- Footer -->
<f:render partial="Footer" arguments="{_all}" />
