<f:section name="Grid-Item">

			<!-- Komet Grid Item -->
			<div class="col mb-4">
				<div class="card h-100 comet-item ovf-hidden">
					
					<div class="view overlay">
						<img class="card-img-top" src="https://lab1.gtn-solutions.com/fileadmin/Komet2020/Resources/Public/Images/digcompedu_04.jpg" alt="Card image cap">
						
						<a href="https://lab1.gtn-solutions.com/index.php?id=18">
				          <div class="mask rgba-white-slight"></div>
				        </a>
					</div>
					
					<a class="activator btn-floating item-btn item-btn-info"><i class="fas fa-info"></i></a>
					
					<a class="btn-floating item-btn item-btn-itemmenu"type="button" id="dropdownItemMenu" data-toggle="dropdown"
				    aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
				    
				  <div class="dropdown-menu dropdown-menu-small dropdown-itemmenu dropdown-menu-right">
					<!-- a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-grid-settings"><i class="fas fa-cog mr-1"></i> Einstellungen</a>
				    <div class="dropdown-divider"></div -->
				    <a class="dropdown-item" href="https://lab1.gtn-solutions.com/index.php?id=18">Bearbeiten</a>
				    <a class="dropdown-item" href="#">Kopieren</a>
				    <a class="dropdown-item dropdown-edit-delete" href="#">Löschen</a>
				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="#">Export</a>
				    <a class="dropdown-item" href="#">PDF Ansicht</a>
				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" data-toggle="modal" data-target="#modal-grid-settings">Einstellungen</a>
				  </div><!-- / dropdown-menu -->

					<div class="card-body">
						<h5 class="card-title">Angewandte Mathematik BHS - Teil A</h5>
							
					</div>
					
					<div class="card-footer item-info">
						<div class="item-info-edit">
							<span class="comet-disabled-NOT"><i class="fas fa-unlock mr-1 material-tooltip-email comet-icon comet-icon-editable" data-toggle="tooltip" data-placement="top" title="Für mich zur Bearbeitung freigegeben"></i></span>
						</div>
						<div class="item-info-sharing">
						    <span class="comet-disabled"><i class="fas fa-eye mr-1 material-tooltip-email comet-icon comet-icon-visible" data-toggle="tooltip" data-placement="top" title="Privat"></i></span>
						    <span class="comet-disabled-NOT"><i class="fas fa-globe-americas mr-1 material-tooltip-email comet-icon comet-icon-publish" data-toggle="tooltip" data-placement="top" title="Veröffentlicht"></i></span>
						    <span class="comet-disabled"><i class="fas fa-chart-pie mr-1 material-tooltip-email comet-icon comet-icon-questionaire" data-toggle="tooltip" data-placement="top" title="Selbsteinschätzung deaktiviert"></i></span>
						</div>
					</div><!-- /card-footer -->
					
					  <!-- Card Info - Card reveal -->
					  <div class="card-reveal white">
					    <div class="content">
							
							<h5 class="card-title">1 DigCompEdu - Facilitating Learners' Digital Competence <i class="fas fa-times text-muted"></i></h5>	
							<div class="card-body">
								<p><b>Urheber:</b> Bundeszentrum eEducation Austria, Komet System<br />
								<p><b>Fach:</b> Mathematik<br />
								
								<div class="grid-reveal-editors grid-chips-small">
									<div class="chip chip-comet chip-editor">
									  <img src="https://lab1.gtn-solutions.com/fileadmin/Komet2020/Resources/Public/Images/Andreas-Riepl.jpg" alt="Contact Person"> Andreas Riepl
									</div>
									<div class="chip chip-comet chip-editor">
									  <img src="https://lab1.gtn-solutions.com/fileadmin/Komet2020/Resources/Public/Images/didi.jpg" alt="Contact Person"> Dietmar Angerer
									</div>
									<div class="chip chip-comet chip-editor">
									  <img src="https://lab1.gtn-solutions.com/fileadmin/Komet2020/Resources/Public/Images/user_blank_small.jpg" alt="Contact Person"> John Doe
									</div>
									<div class="chip chip-comet chip-editor" data-toggle="modal" data-target="#modal-editors">
									  <i class="fas fa-plus"></i>
									</div>
								</div>
								<p><b>zuletzt bearbeitet:</b> 29. 04. 2020</p>
							</div>
					    </div>
					  </div>
					  <!-- Card reveal -->
					
					
				</div><!-- /card -->
			</div><!-- Komet Grid Item -->

</f:section>