	
	    <!-- Navbar -->
	    <nav class="navbar navbar-comet-top fixed-top <f:format.raw>{navbar-top-classes}</f:format.raw> navbar-expand-lg">
	     
	      <f:format.raw>{comet_logo}</f:format.raw>
	      
	      <f:format.raw>{toggle-btn-sidenav}</f:format.raw>
	      
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerTopNav"
		    aria-controls="navbarTogglerTopNav" aria-expanded="false" aria-label="Toggle navigation">
		    <i class="fas fa-bars"></i>
		  </button>
  
	      <div class="collapse navbar-collapse" id="navbarTogglerTopNav">
		      <ul class="nav navbar-nav nav-flex-icons ml-auto align-items-lg-center">
		        <f:format.raw>{navigation_comet_top}</f:format.raw>
		      </ul>
	      </div>
	    </nav>
	    <!-- /.Navbar -->
	