
<section class="hero-banner {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')} {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')}" id="c{data.uid}">
	<f:if condition="{content.image}">
		<div class="hero-banner__img">
			<f:for each="{image}" as="Img" iteration="i">
				<img src="{f:uri.image(image:'{Img}')}" alt="{Img.alternative}" title="{Img.title}">
			</f:for>
		</div>
		<f:if condition="{content.logoImage}">
			<div class="hero-banner__content">
				<f:for each="{media}" as="Img" iteration="i">
					<f:if condition="{Img.link}">
						<f:then>
							<f:link.typolink parameter="{Img.link}">
								<img src="{f:uri.image(image:'{Img}')}" alt="{Img.alternative}" title="{Img.title}">
							</f:link.typolink>
						</f:then>
						<f:else>
							<img src="{f:uri.image(image:'{Img}')}" alt="{Img.alternative}" title="{Img.title}">
						</f:else>
					</f:if>
				</f:for>
			</div>
		</f:if>
	</f:if>
</section>
