<section class="textwithimage-section {f:if(condition:'{content.bgColor}' , then:'bg-primary')} {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')} {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')}" id="c{data.uid}">
	<div class="container">
		<div class="row d-flex flex-column-reverse flex-sm-column-reverse flex-md-row align-items-center justify-content-center">
				<div class="col-md-6 col-lg-8">
					<f:if condition="content.content">
						<div class="textwithimage__content">
							<f:format.raw>{content.content}</f:format.raw>
						</div>
					</f:if>
				</div>
				<div class="col-md-6 col-lg-4">
					<f:if condition="image">
						<div class="textwithimage__image">
							<f:for each="{image}" as="Image" iteration="i">
								<f:if condition="{Image.link}">
									<f:then>
										<f:link.typolink parameter="{Image.link}">
											<img src="{f:uri.image(image:'{Image}')}" alt="{Image.alternative}" title="{Image.title}">
										</f:link.typolink>
									</f:then>
									<f:else>
										<img src="{f:uri.image(image:'{Image}')}" alt="{Image.alternative}" title="{Image.title}">
									</f:else>
								</f:if>
							</f:for>
						</div>
					</f:if>
				</div>
		</div>
	</div>
</section>
