
<div class="ns-backend-preview">
	<h2><f:translate key="LLL:EXT:ns_theme_gtn/Resources/Private/Language/locallang_db.xlf:wizard.ns_teaserbox"/></h2>
	<div class="m-auto w-75">
			<f:if condition="{flexformData.headline}">
				<h2 class="headline mb-4">{flexformData.headline}</h2>
			</f:if>
		<div class="row">
			<f:if condition="{flexformData.teaserItem}">
				<f:for each="{flexformData.teaserItem}" as="item" iteration="i">
					<f:if condition="{i.cycle}<4">
					<div class="col-md-4">
						<div class="teaser-box">
							<div class="teaser-box__image">
									<f:if condition="{item.container.image}">
									<f:image src="{item.container.image}"/>
								</f:if>
							</div>
							<div class="teaser-box__content">
									<f:if condition="{item.container.headline}">
										<h3 class="teaser-item-headline">{item.container.headline}</h3>
									</f:if>
								<f:if condition="{item.container.subHeadline}">
									<h4>{item.container.subHeadline}</h4>
								</f:if>
							</div>
						</div>
					</div>
				</f:if>
				</f:for>
			</f:if>
		</div>
	</div>
</div>
