<div class="ns-backend-preview">
	<h2><f:translate key="LLL:EXT:ns_theme_gtn/Resources/Private/Language/locallang_db.xlf:wizard.ns_iconteaser"/></h2>
	<div class="container">
			<f:if condition="{flexformData.headline}">
				<h2 class="headline mb-3">{flexformData.headline}</h2>
			</f:if>
			<f:if condition="{flexformData.iconteaserItem}">
				<f:for each="{flexformData.iconteaserItem}" as="item" iteration="i">
					<f:if condition="{i.cycle}<3">
						<div class="icon-teaser d-flex align-items-center">
							<div class="icon-teaser__image">
									<f:if condition="{item.container.image}">
									<f:image src="{item.container.image}" width="100px" />
								</f:if>
							</div>
							<div class="icon-teaser__content w-50">
									<f:if condition="{item.container.textarea}">
										<f:format.raw> <p>{item.container.textarea}</p></f:format.raw>
									</f:if>
							</div>
						</div>
					</f:if>
				</f:for>
			</f:if>
		</div>
	</div>
