$breakpoints: (
  small : 576px,
  medium: 768px,
  large : 992px,
  x-large : 1200px,
  xx-large : 1400px
);

$font-sizes48: (
  null : (30px, 40px),
  medium: (32px, 42px),
  large : (34px, 44px),
  x-large : (40px, 50px),
  xx-large : (48px, 58px)
);

$font-sizes40: (
  null : (28px, 36px),
  medium: (30px, 38px),
  large : (32px, 40px),
  x-large : (36px, 46px),
  xx-large : (40px, 50px)
);

$font-sizes36: (
  null : (28px, 34px),
  medium: (30px, 38px),
  large : (32px, 40px),
  x-large : (34px, 44px),
  xx-large : (36px, 46px)
);

$font-sizes30: (
  null : (22px, 30px),
  medium: (24px, 34px),
  large : (26px, 36px),
  x-large : (28px, 38px),
  xx-large : (30px, 40px)
);

$font-sizes24: (
  null : (18px, 27px),
  large : (20px, 28px),
  x-large : (22px, 32px),
  xx-large : (24px, 34px)
);

$font-sizes22: (
  null : (18px, 28px),
  large : (19px, 29px),
  x-large : (20px, 30px),
  xx-large : (22px, 32px)
);

$font-sizes20: (
  null : (18px, 26px),
  large : (19px, 29px),
  xx-large : (20px, 30px)
);

$font-sizes18: (
  null : (17px, 25px),
  x-large : (18px, 28px),
  xx-large : (18px, 28px)
);

$font-sizes16: (
  null : (15px, 25px),
  large : (16px, 28px)
);

$font-sizes14: (
  null : (12px, 16px),
  large : (14px, 28px)
);
