/****************************************************************************
* TYPO3 CMS Styles
***************************************************************************/
.ce-align-left,
.ce-headline-left {
  text-align: left;
}

.ce-align-center,
.ce-headline-center {
  text-align: center;
}

.ce-align-right,
.ce-headline-right {
  text-align: right;
}

.ce-table {
  max-width: 100%;
  width: 100%;
}

.ce-table td,
.ce-table th {
  padding: 0.75rem;
  vertical-align: top;
}

.ce-table th,
.ce-table td {
  border-top: 1px solid $brand-color-gray;
}

.ce-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($black, 0.05);
}

.ce-table-bordered th,
.ce-table-bordered td {
  border: 1px solid $brand-color-gray;
}

hr {
  border-top: solid 1px $white;
}

.ce-nowrap .ce-bodytext,
.ce-uploads li,
.ce-row {
  overflow: hidden;
}

.ce-bodytext ul {
  list-style-type: revert;
  padding-left: 16px;
}

.ce-center .ce-outer {
  display: flex;
  justify-content: center;
  position: relative;
}

.ce-gallery figure {
  display: table;
  margin: 0;
}

.ce-gallery figcaption {
  @include font-size($font-sizes20);
  caption-side: bottom;
  color: $black;
  display: table-caption;
  margin-top: 8px;
  opacity: 0.8;
  text-align: center;
  text-transform: uppercase;
  
  @include media-breakpoint-up(lg) {
    margin-top: 15px;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 25px;
  }
}

.ce-gallery img {
  display: block;
}

.frame-ruler-before {
  &::before {
    border-top: 1px solid rgba(#000 , 0.25);
    content: '';
    display: block;
    margin-bottom: 32px;
  }
}

.frame-ruler-after {
  &::after {
    border-top: 1px solid rgba(#000 , 0.25);
    content: '';
    display: block;
    margin-bottom: 32px;
  }
}

.ce-gallery iframe {
  border-width: 0;
}

.ce-border img,
.ce-border iframe {
  border: 2px solid #000;
  padding: 0;
}

.ce-intext.ce-right .ce-gallery,
.ce-intext.ce-left .ce-gallery,
.ce-above .ce-gallery,
.ce-below .ce-gallery {
  margin-bottom: 0;
}

.ce-intext.ce-right .ce-gallery,
.ce-intext.ce-left .ce-gallery {
  margin-top: 3px;
}

.ce-intext.ce-right .ce-bodytext h5,
.ce-intext.ce-left .ce-bodytext h5 {
  margin-top: 4px;
}

.ce-above .ce-gallery {
  margin-top: 0;
}

.ce-below.ce-right .ce-gallery,
.ce-below.ce-left .ce-gallery,
.ce-below.ce-center .ce-gallery {
  margin-bottom: 0;
  margin-top: 0;
}

.ce-column {
  margin-bottom: 15px;
  margin-right: 15px;
}

.ce-column:last-child {
  margin-right: 0;
}

.ce-row {
  margin-bottom: 10px;
}

.ce-row:last-child {
  margin-bottom: 0;
}

.ce-above .ce-bodytext {
  clear: both;
}

.ce-intext.ce-left ol,
.ce-intext.ce-left ul {
  overflow: auto;
  padding-left: 40px;
}

.ce-intext.ce-left ul {
  padding-left: 0;
}

.ce-uploads img {
  margin-top: 5px;
}

.ce-uploads span {
  display: block;
}

.frame {
  .ce-textpic {
    padding-bottom: 20px;
  }
}

.frame .ce-textpic {
  img {
    margin-bottom: 10px;
  }
}

.frame .ce-textpic.ce-left {
  padding-bottom: 0;
}

.frame .ce-textpic.ce-left .ce-gallery {
  img {
    margin-bottom: 0;
  }
}

.button-group {
  margin: 20px auto;
}

.cc-window {
  flex-wrap: wrap;
}

.cc-message {
  margin-bottom: 10px;
}

.ce-right,
.ce-left {
  .ce-gallery {
    margin: 0 auto;
  }
}

.ce-image {
  img {
    margin-bottom: 10px;
  }
}

.frame-default.frame-type-text {
  ol {
    li {
      padding-left: 25px;
    }
  }
}

@include media-breakpoint-up(md) {
  .ce-textpic.ce-left.ce-intext {
    .ce-column,
    .ce-gallery {
      float: left;
    }
  } 
  
  .ce-textpic.ce-right.ce-intext {
    .ce-column,
    .ce-gallery {
      float: right;
    }
  } 

  .ce-textpic.ce-left.ce-nowrap,
  .ce-textpic.ce-right.ce-nowrap {
    .ce-column {
      float: none;
    }
  } 
  
  .ce-nowrap.ce-left,
  .ce-nowrap.ce-right,
  .ce-intext.ce-left.ce-nowrap,
  .ce-intext.ce-right.ce-nowrap,
  .ce-right.ce-below .ce-row,
  .ce-left.ce-below .ce-row,
  .ce-above.ce-left .ce-row,
  .ce-above.ce-right .ce-row {
    display: flex;
  }

  .ce-nowrap.ce-left,
  .ce-intext.ce-left.ce-nowrap {
    flex-direction: row;
  }
  
  .ce-nowrap.ce-right,
  .ce-intext.ce-right.ce-nowrap {
    flex-direction: row-reverse;
  }

  .ce-above.ce-left .ce-row,
  .ce-left.ce-below .ce-row {
    justify-content: flex-start;
  }

  .ce-above.ce-right .ce-row,
  .ce-right.ce-below .ce-row {
    justify-content: end;
  }

  .ce-right,
  .ce-left {
    overflow: auto;
  }

  .ce-left.ce-nowrap .ce-gallery {
    margin-left: 0;
  }

  .ce-left.ce-nowrap .ce-gallery {
    margin-right: 0;
  }

  .ce-right.ce-intext .ce-column {
    margin-left: 20px;
  }

  .ce-left.ce-intext .ce-column {
    margin-right: 20px;
  }

  .frame {
    .ce-textpic {
      &.ce-left {
        .ce-bodytext {
          padding-left: 0;
        }
      }
    }
  }

  .ce-bodytext {
    width: 100%;
  }

  .frame-indent {
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .frame-indent-left {
    margin-left: 15%;
  }
  
  .frame-indent-right {
    margin-right: 15%;
  }
}

@include media-breakpoint-up(lg) {
  .frame-indent {
    margin-left: 15%;
    margin-right: 15%;
  }

  .frame-indent-left {
    margin-left: 33%;
  }

  .frame-indent-right {
    margin-right: 33%;
  }
}

.frame-type-list.frame-layout-1 {
  > header {
    display: none;
  }
}

.ce-uploads {
  li {
    align-items: center;
    display: flex;

    img {
      padding-right: 10px;
    }

    a {
      max-width: 35px;

      img {
        height: 20px;
      }

      &:hover {
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }
}
