<f:layout name="Barbarafriedhof" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->


		<f:format.raw>{content_10}</f:format.raw>


<div id="maincontent">

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-9">
					
					<f:format.raw>{content_0}</f:format.raw>
			</div>
			
			<div class="col-xs-12 col-sm-3 list-sidebar">
					
					<f:format.raw>{content_1}</f:format.raw>
			</div>
		
		</div>
	</div><!--/.fluid-container-->	
	
	
	
	<!--TYPO3SEARCH_end-->

</div><!--/.maincontent -->
</f:section>