
<header>
  <!--Navbar-->
  <!-- nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"-->
  <f:render partial="Navbar-Top" arguments="{_all}" />
  
  
  <!-- Full Page Intro -->
  <div class="view view-homepage" style="background-image: url('http://komet.gtn-solutions.com/fileadmin/Komet2020/Resources/Public/Images/homepage-bg1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Erstellen und verwalten Sie mit dem Komet Tool für Ihre Institution/Organisation digitale Kompetenzraster unter dem Creative Commons-Prinzip.</h1>
            <hr class="hr-light">
            <h6 class="mb-4">Digitale Kompetenzraster ermöglichen die Darstellung einer prozesshaften Entwicklung. Das gilt generalisierend für Organisationen oder individualisieren für Lernende.</h6>
            <a href="http://komet.gtn-solutions.com/index.php?id=30" class="btn btn-dark-green btn-lg">Login</a>
            <a href="http://komet.gtn-solutions.com/index.php?id=31" class="btn btn-primary btn-lg">Jetzt Registrieren</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
	          <f:format.raw>{HomepageTestImg}</f:format.raw>
            
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
  
</header>
<!-- Main navigation -->

	<main class="maincontent">
		<div class="container-fluid pb-4">
			<!-- img src="http://komet.gtn-solutions.com/fileadmin/Komet2020/Resources/Public/Images/komprasterpreview.png" alt="" class="img-fluid" -->	
		</div>
	  	<f:render section="content" />
				asdfasdf				
	</main>


	
<!-- footer id="Footer">
	<div class="container-fluid">
		Footer
	</div>
</footer -->