<f:layout name="Barbarafriedhof" />
	
<f:section name="content">
<!--TYPO3SEARCH_begin-->

<div class="headerimg">
		<f:format.raw>{content_10}</f:format.raw>
</div>

<div id="maincontent">
	
	<f:format.raw>{breadcrumb}</f:format.raw>

	<div class="container-fluid pt-4 pb-5">
		<div class="row">
			<div class="col-12 headcol">
				<f:format.raw>{content_6}</f:format.raw>
			</div>
			<div class="col-sm-12 col-md-7 col-lg-8 maincol">
					<f:format.raw>{content_0}</f:format.raw>
			</div>
			<div class="col-sm-12 col-md-5 col-lg-4 sidebar">
					<f:format.raw>{barbara_openinghours}</f:format.raw>
					<f:format.raw>{content_1}</f:format.raw>
			</div>
		</div>
	</div><!--/.fluid-container-->

	
	<!--TYPO3SEARCH_end-->

</div><!--/.maincontent -->
</f:section>