{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_gender">
	<label class="">
		<f:translate key="tx_femanager_domain_model_user.gender" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'gender')}">
			<span>*</span>
		</f:if>
	</label>
		<div class="form-check">
				<f:form.radio
						id="femanager_field_gender1"
						property="gender"
						class="form-check-input"
						value="1"
						checked="{user.gender} == 1"
						additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'gender')}" />
			<label class="form-check-label" for="femanager_field_gender1">
				<f:translate key="tx_femanager_domain_model_user.gender.item1" />
			</label>
		</div>
		<div class="form-check">
				<f:form.radio
					id="femanager_field_gender0"
					property="gender"
					value="0"
					class="form-check-input"
					checked="{user.gender} == 0"
					additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'gender')}" />
			<label class="form-check-label" for="femanager_field_gender0">
				<f:translate key="tx_femanager_domain_model_user.gender.item0" />
			</label>
		</div>

</div>
