<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


    <h3>
        <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
    </h3>
    <p>
        <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_reset_message'}"/>
    </p>


<f:render partial="ValidationErrors"/>

<f:form action="recovery" method="post">
    <fieldset>
        <f:comment>
            <legend>
                <f:render partial="RenderLabelOrMessage" arguments="{key: 'reset_password'}"/>
            </legend>
        </f:comment>
        <div class="md-form">
		<label><f:translate key="enter_your_data"/></label>
		<f:form.textfield name="userIdentifier" class="form-control" />
        </div>
        <div>
		<span class="waves-input-wrapper waves-effect waves-light">
	            <f:form.submit value="{f:translate(key: 'reset_password')}" class="btn btn-sm btn-dark-green" />
		</span>
        </div>
    </fieldset>
</f:form>

<p>
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin"/>
    </f:link.action>
</p>
</html>
